.fullpage{
    display: grid;
    justify-content: center;
    padding: 20px;
}


.full{
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    row-gap: 30px;
    width: fit-content;
}

.img{
    display: grid;
    justify-content: center;
}

.congrats{
    display: grid;
    justify-content: center;
    color: #293341;
    
    
}

.uploaded{
    display: grid;
    justify-content: center;
    text-align: center;
    color:  #465364;
    
}

.last{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 20px;
}

