.footer-items{
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    letter-spacing: 1px;
    padding-top: 150px;
    padding-bottom: 50px;
    
}





.top-footer{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    
    padding-right: 20px;
    
}

.logo-links{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 75px;
}



.links{
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}


.termsofservice{
    color: #293341;
    display: grid;
    grid-auto-flow: column;
    column-gap: 25px;
    /* padding-right: 50px; */
    
}


.bottom-footer{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    word-spacing: 5px;
}