li {
    list-style: none;
 text-decoration: none;
}

a {
    text-decoration: none;
}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-menubar{
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: grid;
    justify-content: left;
    align-items: center;
    z-index: 1000;
}