


/* stlyes for all the elements in the header section */
.header{
  display: grid;
  /* background-color: cyan; */
  grid-auto-flow: column;
  padding: 12px;

  box-shadow: 0px 5px 13px 0px #006AE508;



}

.header-logo{
  display: grid;
  /* background-color: red; */
  align-items: flex-start;
 
  
}


.header-searchbar{
  display: grid;
  /* background-color: yellow; */
  align-content: center;
  grid-auto-flow: column;
  background-color: #f7f9fa;
  border-radius: 100px;
  padding: 12px 20px;
  align-self: center;
  justify-content: left;
  grid-gap: 12px;
  

}
 
.header-searchbar > input{
  color: #8390A2;
  background-color: #f7f9fa;
  border-radius: 100px;
  outline: none;
  border: none;
  width: 300px;
}




.header-menubar{
  display: grid;
  grid-auto-flow: column;
  /* background-color: brown; */
  place-content: space-evenly;
  
}

.header-controlbar{
  display: grid;
  grid-auto-flow: column;
  /* background-color: grey; */
  align-content: center;
  justify-content: space-around;

  
}

.header-controlbar > button{
  background-color: #293341;
  border-radius: 100px;
  padding: 12px 20px;
  color: #FFFFFF;
  outline: none;
  border: none;
}


.header-burger{
  
  display: none;

}

/* SECOND SECTION OF THE PAGE(with the three paragraphs) */

.music-auctions{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 15px;
}




/* THIRD SECTION OF THE PAGE WITH ALL THE PRODUCTS */
  

.products-section1{
  
  display: grid;
  grid-auto-flow: column;
  justify-content:space-evenly;
  
}

.section1{
  /* background-color: cyan; */
  display: grid;
  grid-auto-flow: row;
  width: 300px;
  box-shadow: 0px 5px 13px 0px #006AE508;
  padding: 5px;

  

}


/* FIRST PRODUCT */
.created-owned{ 
 
  display: grid;
  grid-auto-flow: column;

}


.created-user{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-start;
  column-gap: 7px;
  
}

.created-owned-tags{
  color: #9FA1A6;
}

.created-owned-snos{
  color: #293341;
  ;
}


.section1-prod-image{
  place-self: center;
}

.section1-prod-name{
  display: grid;
  font-weight: bold;
}


.current-bid{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  
}

.prod-cost{
  color: #465364;
}
  
.prod-time{
  color: #FE7676 ;
}

.placebid > button{
  background-color: #1A79E8;
  border-radius: 50px;
  width: 125px;
  height: 40px;
  outline: none;
  border: none;
}





.bid-ending{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}


.section-history{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 7px;
}

.section-end{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}


.owned-user{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-start;
  column-gap: 7px;
  direction: rtl;
}







/* MOBILE VIEW */

@media only screen and (max-width: 600px) {
  
  .header-searchbar{
    display: none;
  }
  
  .header-menubar{
    display: none;
  }

  .header-controlbar{
    display: none;
  }

  .header-burger{
    display: block;
    align-items: center;
    place-content: space-evenly;
    padding: 25px;
  }
  

  .header{
    justify-content: space-between;
  }

}