.fullpage{
    display: grid;
    justify-content: center;
}



.full{
    display: grid;
    grid-auto-flow: row;
    /* row-gap: 20px; */
    width: fit-content;
    justify-items: center;

}

.logo-close{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;

}

.logo{
    display: grid;
    padding-left: 40px;
}
.closeimg{
    display: grid;
    padding-top: 10px;
}

.title{
    display: grid;
    font-size: xx-large;
    font-weight: 700;
}

.tos-words{
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    row-gap: 20px;
}

.checks{
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    justify-self: left;
    color: 
    #465364;
}

.desc{
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #465364;

}

.button{
    display: grid;
    padding-top: 30px;
}

.button > button{
    background-color: #1A79E8;
      color: #FFFFFF;
      border-radius: 50px;
      width: 125px;
      width: 360px;
      height: 40px;
      outline: none;
      border: none;
}

