.image-and-expand{
    display: grid;
    grid-auto-flow: column;
    padding-top: 100px;

}

.circlearchi-img{
    display: grid;
    padding-left: 470px;
    padding-bottom: 100px;
}

.expand-img{
    display: grid;
    padding-top: 345px;
    padding-left: 300px;
}


.prod-details{
    display: grid;
    grid-auto-flow: column;
    column-gap: 200px;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0px 5px 13px 0px #006AE508;

    box-shadow: 0px -5px 30px 0px #006AE505;
}



/* left side of the product details */



.left-prod-details{
    display: grid;
    
    
    padding-left: 50px;
    
    

}


.prod-name{
    display: grid;

    padding-top: 50px;
    /* padding-left: 50px; */
    padding-bottom: 75px;
    font-weight: bold;
    font-size: xx-large;
}

.description{
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
    padding-bottom: 60px;
}

.desc-title{
    font-size: x-large;
    color: #293341;

}
.desc-content{
 color: #465364;

}


.prod-history{
    display: grid;
    grid-auto-flow: row;
    row-gap: 50px;
}

.history-view{
    display: grid;
    grid-auto-flow: column;
    color: #293341;
    justify-content: space-between;
}

.history-word{
    font-weight: bolder;
}



.last-ownedby{
    display: grid;
    grid-auto-flow: column;
    box-shadow: 0px 5px 13px 0px #006AE508;

    box-shadow: 0px -5px 30px 0px #006AE505;

}



.left-last-ownedby{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
    column-gap: 7px;
    
  }

  .ownedby-section{
    display: grid;
    row-gap: 5px;
  }

  .ownedby-tag{
    color: #465364;
  }

  .ownedby-sno{
    font-weight: bolder;
    color: #293341;
  }


  .right-last-ownedby{
    display: grid;
    grid-auto-flow: row;
    text-align: right;
  }

  .price-word-hist{
    color: #465364;
  }

  .price-detail-hist{
    display: grid;
    grid-auto-flow: column;
    color: #293341;

    
  }
  .nft-currency{
    padding-left: 300px;
  }

/* right side of the product details */

  .right-prod-details{
    display: grid;
    grid-auto-flow: row;
    row-gap: 100px;
  }
  .right-top{
    display: grid;
    grid-auto-flow: row;
    row-gap: 50px;
    padding: 10px;
    box-shadow: 0px 5px 13px 0px #006AE508;

    box-shadow: 0px -5px 30px 0px #006AE505;

    
    
    
  }

  .bids{
    display: grid;
    grid-auto-flow: column;
    color: #465364;
  }

  .bid-nft-time{
    display: grid;
    grid-auto-flow: column;
  }
  .bid-value-time{
    display: grid;
    grid-auto-flow: column;
    color: #465364;

  }

 

  .bid-time{
    display: grid;
    grid-auto-flow: column;
  }

  .bid-time-words{
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
  }

  .place-bid{
    display: grid;
    justify-self: center;
    
  }
  .place-bid > button{
    background-color: #1A79E8;
    color: #FFFFFF;
    border-radius: 50px;
    width: 325px;
    height: 40px;
    
    outline: none;
    border: none;
  }




  .right-bottom{
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
  }

  .first-bidder{
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    box-shadow: 0px 5px 13px 0px #006AE508;

    box-shadow: 0px -5px 30px 0px #006AE505;

  }
  .second-bidder{
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    box-shadow: 0px 5px 13px 0px #006AE508;

    box-shadow: 0px -5px 30px 0px #006AE505;

  }
  .third-bidder{
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    box-shadow: 0px 5px 13px 0px #006AE508;

    box-shadow: 0px -5px 30px 0px #006AE505;

  }

  .left-placedby{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
    column-gap: 7px;
    
  }

  .right-placedby{
    display: grid;
    grid-auto-flow: row;
    text-align: right;
  }

  .placedby-details{
    display: grid;
    grid-auto-flow: row;
    row-gap: 5px;
  }
  .bids{
  color: #465364;

  }

  .bid-nft{
    color: #293341;
    font-size: xx-large;
    font-weight: bold;

  }

  .bid-time{
    color: #FE7676;
    font-size: xx-large;
    font-weight: bold;

  }

  .bid-ending{
    text-align: center;
  }

  .placed-nft-cost{
    color: #293341;
   
  }

  .placeby-sno{
    color: #293341;

  }

  .placedby-date{
    color: #465364;

  }

  .placed-nft-curr{
    color: #465364;

  }





@media only screen and (max-width: 600px){

    .full{
      display: grid;
      grid-auto-flow: row;;
    }

    .image-and-expand{
      display: grid;
      grid-auto-flow: row;
      padding: none;
     
    }

    .circlearchi-img{
      display: grid;
      padding: none;
    }

    .expand-img{
      display: grid;
      padding: none;
      justify-self: right;
    }
  
    
    .prod-details{
      display: grid;
      grid-auto-flow: row;
    }
  }