.connect-wallet{
    display: grid;
    grid-auto-flow:row;
    text-align: center;
    row-gap: 20px;
}
.connect-text{
    color: #293341;
    font-size: xx-large;
    font-weight: bolder;
}

.connect-button > button{
    background-color: #293341;
    color: #FFFFFF;
    border-radius: 50px;
    width: 125px;
    height: 40px;
    outline: none;
    border: none;
}